* {
  box-sizing: border-box;
}

body {
  margin:0;padding:0;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#root {
  /* max-width: 1280px; */
  background-image: url('./assets/805656.jpg');
  background-attachment: fixed;
  background-position: center;
  overflow-y: scroll;
  background-size: cover;
  width: 100%;
  padding: 2rem;
  min-height: 100vh;
}
.container {
  margin-top:100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#site-name {
  text-align: center;
  text-transform: uppercase;
  color: #eeeeee;
  filter: drop-shadow(0 0 10px #2b2b2b);
}

#filter-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eeeeee;
  cursor: pointer;
  transition:  transform .4s ease-in-out, box-shadow 0.25s ease-in-out;
  box-shadow: none;
}

#cards-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin: 0;
}
.materialCard {
  position: relative;
  width: 30%;
  background-color: #ffffff30;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px #2b2b2b50;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}

.fav-btn {
  position: absolute;
  top:0;
  right: 0;
  border-radius: 0 20px 0 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff20;
  cursor: pointer;
  margin: 0;
  transition: background-color .2s ease-in-out;
}

.fav-btn:hover {
  background-color: #ffffff60;
  border: none;
  box-shadow: none;
  transform: translate(0,0);
}
.fav-btn:focus, .fav-btn:active {
  outline: 1px solid #2b2b2b;  
}

.materialCard img {
  height: 140px;
  width: 140px;
  border-radius: 70px;
}

.material-name {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.material-descr {
  text-align: center;
}
button {
  margin: 5px 10px;;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgba(238, 238, 238, 0.1254901961);
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgba(238, 238, 238, 0.1254901961);
}


nav {
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;;
  top:0;
  left: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eeeeee50;
  backdrop-filter: blur(10px);
  color: #2b2b2b;
}

nav ul {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin-left:20px;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}
